.content {
    flex: 1 1 auto;
}

.content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 30px;
}

.content-ask {
    max-width: fit-content;
}

.content-ask__body {
    padding: 10px 10px;
    border: solid 0.15em;
    border-radius: 20px;
}

.content-ask__header {
    font-size: 24px;
    font-weight: 700;
}

.form {
    margin: 20px 0px 3px;
}

.form__field-list {
    list-style-type: none;
}

.form__field-list li{
    margin: 8px 0px;
}

.form__input-text {
    padding: 8px 16px;
    font-size: 16px;
    width: 350px;
    border-radius: 25px;
    border: 1px solid rgb(237, 237, 237);
    transition: 0.3s ease;
}

.form__input-text:focus {
    transition: 0.3s ease;
    border: 1px solid rgba(0, 255, 0, 0.3);
}

.form__ask-button {
    font-size: 18px;
    margin: 0px 0px 0px 10px;
    padding: 5px 10px;
    background-color: rgb(237, 237, 237);
    border: 1px solid;
    border-style: hidden;
    border-radius: 20px;
    transition: ease 0.3s;
}

.form__ask-button:hover {
    color: darkgreen;
    background-color: rgba(0, 255, 0, 0.2);
    transition: ease 0.3s;
}

.form__ask-button:active {
    background-color: rgba(0, 255, 0, 0.5);
    transition: ease 0.3s;
}

.content-qna {
    max-width: fit-content;
}

.content-qna__body {
    margin: 30px 0px 0px;
}

.item {
    min-width: 250px;
    margin: 10px 10px;
}

.item__body {
    padding: 10px 16px;
    background-color: rgb(237, 237, 237);
    border: solid 0.15em;
    border-radius: 30px;
}

.item__name {
    font-size: 18px;
}

.item__contact-info {
    font-size: 18px;
    margin: 20px 0px;
}

.item__text {
    font-size: 18px;
}

.item__delete-button {
    float: right;
    padding: 4px 7px;
    border: 1px solid;
    border-radius: 12px;
    background-color: rgba(255, 100, 100, 0.5);
    transition: background-color ease 0.3s;
}

.item__delete-button:hover {
    background-color: rgba(255, 100, 100, 0.75);
    transition: background-color ease 0.3s;
}

.item__delete-button:active {
    background-color: rgba(255, 100, 100, 1);
    transition: background-color ease 0.3s;
}

@media screen and (max-width: 600px) {
    .form__input-text {
        width: 200px;
    }
}