/*
Creating styling for swiper elements
container: size and overflow for hiding unused elements
slide: flex display and options to center the content
image: block display and size
pagination: active bullet color (!important to override default value)
 */
.swiper-container {
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swiper-image {
    display: block;
    height: 320px;
    width: 320px;
}

.swiper-pagination-bullet-active {
    background-color: greenyellow!important;
}
